@charset "UTF-8";
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	list-style-type: none;
	list-style-position: outside;
	margin: 0	;
}
.container {
	background-color: #DADADA;
	width: 100vw;
	height: calc(100vh - 33px);
	/*max-height: 0%;*/
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
}
.roomheader {
	font-style: regular;
	background-color: #F7F7F7;
	padding: 13px 13px 13px 13px;
	margin-bottom: 13px;
	border-radius: 4px;
}
.chatdisplay {
	display: block;
	background-color: #F7F7F7;
	height: calc(100vh - 180px);
	overflow: scroll;
	border-radius: 4px;
}
.sendchat {
	display: block;
	margin-top: 15px;
	width: 0px;
}
.sendchattext {
	width: calc(100vw - 20px);
	height: 47px;
	padding-top: 0px;
	margin-top: -9px;
	display: inline;
}
.sendchatbutton {
	width: 99px;
	display: inline;
}
.chat {
	margin-left: 10px;
	font-size: small;
}
.chatauthor {
	text-shadow: 0px 0px #FA95FF;
}
.friend {
	color: green;
}
